/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/
@font-face {
    font-family: 'MyFont';
    src: url(../fonts/BlackHan.ttf);
}


.blokje1{
    place-content: center;
    text-align: center;
    background-color: rgb(117, 117, 117);

    h1{
    font-family: MyFont;
    text-shadow: 1px 0 10px #171717;
    color: gray;
    font-size: 5em;
}
}





/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/
@font-face {
    font-family: 'MySairaBold';
    src: url(../fonts/Saira-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}

.blokje2{
    place-content: center;
    text-align: center;
    background-color: #00236f;

    h1{
        font-family: MySairaBold;
        color: white;
        text-shadow: 
    -3px -2px 0  #00ebf3,
    3px -2px 0  #ff48f6,
    3px 3px 0 #fffc48;

        line-height: 2em;
        font-size: 5em;
    }
}





/******************************/
/* CODE VOOR HET DERDE BLOKJE */
/******************************/
@font-face {
    font-family: 'MySairaBold';
    src: url(../fonts/Saira-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}

.blokje3{
    place-content: center;
    text-align: center;
    background-image: linear-gradient(180deg, rgb(252, 252, 252), rgb(255, 113, 203));


    div{
        border: #55006f;
        
    }
    h1{
        font-family: MySairaBold;
        color: white;
        text-shadow: 
    -3px -2px 0  #00ebf3,
    3px -2px 0  #ff48f6,
    3px 3px 0 #fffc48;

        line-height: 2em;
        font-size: 5em;
    }
}





/******************************/
/* CODE VOOR HET VIERDE BLOKJE */
/******************************/





/******************************/
/* CODE VOOR HET VIJFDE BLOKJE */
/******************************/





/******************************/
/* CODE VOOR HET ZESDE BLOKJE */
/******************************/

